<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Deletion message</h1>
    <p>
      Your account has been deleted by admin.
    </p>
  </body>
</html>